
.top_line{
  display: flex;
  max-width: 95%;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #e6dfdf;
  margin: 30px auto;
  justify-content: space-between;
  h2{
    margin:0;
    font-size:20px;
    font-weight:400;
    display:Flex;
    align-items: center;
    justify-content: center;
  }
}

.icon{
  cursor: pointer;
}

.addform{
  margin:50px auto;
  padding:20px;
  width:600px;
  display:Flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  .formTitle{
    margin-bottom:10px;
    font-size:18px;
    text-align: center;
  }
}
