<div class="table money">
  <div class="t_header">Счет</div>
  <div class="col">
    <div class="cell">
      <mat-icon>euro_symbol</mat-icon>
      <div class="value">{{bill[0].value | number : '1.2-2'}}</div>
    </div>
    <div class="cell">
      <mat-icon svgIcon="uah"></mat-icon>
      <div class="value">{{bill[2].value | number : '1.2-2'}}</div>
    </div>
    <div class="cell">
      <mat-icon svgIcon="usdd"></mat-icon>
      <div class="value">{{bill[1].value | number: '1.2-2'}}</div>
    </div>
  </div>
</div>
