<div class="container">
<div class="info_block block">
  <div class="name text">{{user.name}}</div>
  <div class="mail text">{{user.email}}</div>
</div>
<div class="img_block">
  <img alt='' src="../../../../assets/img/img.jpg">
</div>
<div class="menu_block">
  <div class="menu_title">Страницы</div>
  <div class="links">
      <a [routerLink]="'bill'">Страница счета</a>
      <a [routerLink]="'history'">Страница истории</a>
      <a [routerLink]="'records'">Страница записей</a>
  </div>
</div>
</div>
