<div class="container">
  <div class="top_line">
    <div class="header">
      <h2>Страница счета</h2>
    </div>
    <div class="reload">
      <mat-icon class="icon" (click)="refresh()">refresh</mat-icon>
    </div>
  </div>
  <div class="tables" *ngIf="showTables; else loading">
    <app-savings-table [bill] = bill></app-savings-table>
    <app-currency-table
      [currency] = currencies
      [date] = resDate>
    </app-currency-table>
  </div>
</div>


<ng-template #loading>
  <div class="tables">
    <span class="center">Loading...</span>
  </div>
</ng-template>
